body {
    font-family: Calibri, sans-serif;
    color: #212529;
  }
  

nav {
    font-family: Consolas, monospace;
}

.nav-item {
    background-color: #0E8EA8;
    color: #fff;
}

.dropdown-item {
    background-color: #83d1e1;
    color: #212529;
}

thead {
    font-family: Consolas, monospace;
    background-color: #0E8EA8;
    color: #fff;
}

tbody {
    font-family: Calibri, sans-serif;
    background-color: #83D1E1;
    color: #212529;
}

/* Make the table cells square and align content */
table td {
    text-align: center;
    vertical-align: middle;
  }