body {
  font-family: Calibri, sans-serif;
  color: #212529;
}

/* navbar */
nav {
  font-family: Consolas, monospace;
}

.nav-item {
  background-color: #0e8ea8;
  color: #fff;
}

.dropdown-item {
  background-color: #83d1e1;
  color: #212529;
}

/* Staff ad delivery dashboard */
thead {
  font-family: Consolas, monospace;
  background-color: #0e8ea8;
  color: #fff;
}

tbody {
  font-family: Calibri, sans-serif;
  background-color: #83d1e1;
  color: #212529;
}

table td {
  text-align: center;
  vertical-align: middle;
}

/* Toast */
.toast-container {
    position: fixed;
    top: 1rem; /* Adjust the position */
    right: 1rem; /* Toasts will appear on the top-right corner */
    z-index: 1050;
  }
  .toast {
    margin-bottom: 0.5rem; /* Adds space between each toast */
  }

